.details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(108, 106, 106, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.note-details {
    background-color: #fff;
    padding: 20px;
    width: 70%;
    height: 60%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Close icon styling */
.exit-icon {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 18px;
    color: white;
    border: 1.5px solid #fff;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 40px;
    transition: .4s ease-in-out;
}

.exit-icon:hover {
    color: red;
}

.favorite-icon {
    cursor: pointer;
    font-size: 20px;
    color: #f00;
    transition: .3s ease-in-out;
}

.favorite-icon:hover {
    transform: scale(1.1);
}

.intro {
    word-wrap: break-word;
    word-break: break-word;
}