.note,
.note .note-header .favorite {
    cursor: pointer;
    transition: .4s ease-in-out;
    box-shadow: 5px 5px 15px #555;
}

.note:hover {
    transform: scale(1.02);
}

.note .note-header .favorite:hover {
    transform: scale(1.1);
}

.note .note-body {
    background-color: #333;
}

.note .note-body .intro {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note a {
    border-radius: var(--radius);
}