.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(7px);
}

.header nav,
.add-note {
    box-shadow: 5px 5px 20px #666;
    border-radius: var(--radius);
    transition: .4s ease-in-out;
}

.header nav a {
    transition: .4s ease-in-out;
    border-radius: var(--radius);
}

.header nav a:hover,
.header .add-note:hover {
    transform: scale(1.08);
    background-color: #555;
}